
.iconStack {
    display: block;
    position: relative;
    height: 1em;

    & > :first-child {
        visibility: hidden;
        position: static;
    }

    & > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}