@import '../../../css/shared';

.root {
    --padding: var(--base-padding4);
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    gap: var(--padding);
    padding: var(--padding);
}

.treeHolder {
    flex: 0 0 200px;
    min-width: 200px;//link to scale?
    overflow-x: hidden;
    overflow-y: auto;

    @include section();
}

.main {
    flex: 1 0 0;//grow to fill remaining available space
    min-width: 0;//needed to make it work

    overflow: hidden;

    @include section(true);
}