@import '../../css/shared';

.selectSystem {
    @include panel;

    position: fixed;
    top: var(--base-padding);//will need to be below buttons (when I add them)
    left: var(--base-padding);
}

.label {
    display: block;
    padding-bottom: var(--base-padding4);
}