@import '../../css/shared';

$controlsWidth: 400px;

.root {
    background: $bgCol;
    border: 1px solid $borderCol;
    
    padding: $basePadding/2;
  
    position: fixed;
    top: $basePadding;
    right: $basePadding;
    width: $controlsWidth;
}

.buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: $basePadding/4;
}

.time {
  font-size: 14px;
}