@import '../../css/shared';

$controlsWidth: 400px;

.root {
  @include panel;
  
  position: fixed;
  top: var(--base-padding);
  right: var(--base-padding);
  //width: $controlsWidth;
}

.buttons {
  display: flex;
  gap: var(--base-padding4);
  flex-flow: row nowrap;
  margin-bottom: var(--base-padding4);
}

.time {
  font: var(--font-bodyNormal);
}