@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'global';
@import 'wysiwyg';

html, body {
  //font-family: sans-serif;
  //font-size: 10px;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

:focus {
  outline: 0;
}



html {
  //3rd party vars
  --fa-display: block;

  //Specify global CSS vars
  --scale: 1;
  --base-padding: calc(var(--scale) * #{$basePadding});
  --base-padding2: calc(var(--base-padding) / 2);
  --base-padding4: calc(var(--base-padding) / 4);

  //Font family and sizes
  --font-family: Arial, Helvetica, sans-serif;

  --font-size-small: calc(12px * var(--scale));
  --font-size-normal: calc(14px * var(--scale));
  --font-size-large: calc(16px * var(--scale));
  --font-size-header: calc(20px * var(--scale));

  //Fonts: [stretch] [style] [variant] [weight] size[/lineHeight] family;
  --font-bodySmall: var(--font-size-small)/calc(1.2 * var(--scale)) var(--font-family);
  --font-bodySmallStrong: bold var(--font-size-small)/calc(1.2 * var(--scale)) var(--font-family);

  --font-bodyNormal: var(--font-size-normal)/calc(1.2 * var(--scale)) var(--font-family);
  --font-bodyStrong: bold var(--font-size-normal)/calc(1.2 * var(--scale)) var(--font-family);

  --font-bodyLarge: var(--font-size-large)/calc(1.2 * var(--scale)) var(--font-family);
  --font-bodyLargeStrong: bold var(--font-size-large)/calc(1.2 * var(--scale)) var(--font-family);

  --font-headerNormal: bold var(--font-size-header)/calc(1.2 * var(--scale)) var(--font-family);
  --font-headerStrong: bolder var(--font-size-header)/calc(1.2 * var(--scale)) var(--font-family);

  --font-buttonNormal: var(--font-bodyNormal);
  --font-buttonLarge: var(--font-bodyLarge);

  //Colours
  --c-grey0: #FFF;
  --c-grey10: #FAFAFA;
  --c-grey20: #F5F5F5;
  --c-grey30: #D7D7D7;
  --c-grey35: #C7C7C7;
  --c-grey40: #B7B7B7;
  --c-grey50: #7F7F7F;
  --c-grey60: #737373;
  --c-grey70: #6A6A6A;
  --c-grey80: #666;
  --c-grey90: #333;
  --c-grey100: #000;


  //-purpose colours
  --c-keyboard: #EEBB11;
  --c-keyboard-alt: #EE8800;//for use on darker backgrounds
  --c-ok: #33DD33;
  --c-warning: #FFAA22;
  --c-error: #EE3333;
  --c-success: #33EE33;

  //-text colours
  --c-text: var(--c-grey90);
  --c-textSubtle: var(--c-grey50);

  //block colours
  --c-border: var(--c-grey50);
  --c-bg: var(--c-grey30);
  --c-bg-selected: var(--c-grey40);

  --border-width: 1px;
  --border-radius: calc(2px * var(--scale));

  --border: var(--border-width) solid var(--c-border);

  --shadow: 1px 1px 2px 0 rgba(0,0,0,0.25);

  //defaults
  font: var(--font-bodyNormal);
}

text {
  font: var(--font-bodyNormal);
}