@import '../../node_modules/modern-normalize/modern-normalize.css';
@import 'global';
@import 'wysiwyg';

html, body {
  font-family: sans-serif;
  font-size: 10px;
  height: 100%;
  overflow: hidden;
}

#app {
  height: 100%;
}

:focus {
  outline: 0;
}
