@import 'vars';
@import 'functions';
@import 'mixins';

.alignStart {
  text-align: left;

  .rtl & {
    text-align: right;
  }
}

.alignEnd {
  text-align: right;

  .rtl & {
    text-align: left;
  }
}

.offscreen {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
