@use 'sass:math';
@import 'vars';
@import 'functions';
@import 'mixins';


//app specific theme mixins, etc

@mixin panel($noPadding: false) {
    background: var(--c-grey0);
    border: var(--border-width) solid var(--c-border);
    border-radius: var(--border-radius);
    
    @if($noPadding != true) {
        padding: var(--base-padding2);
    }
}

@mixin section( $noPadding: false) {
    border: var(--border-width) solid var(--c-border);
    border-radius: var(--border-radius);

    @if($noPadding != true) {
        padding: var(--base-padding2);
    }
}