@use 'sass:math';
@import 'vars';
@import 'functions';
@import 'mixins';


//app specific theme mixins, etc

@mixin panel() {
    background: $bgCol;
    border: 1px solid $borderCol;
    
    padding: var(--base-padding2);
}