@import '../../css/shared';



.btn {
  background: $grey30;
  border: 0.1rem solid $borderCol;
  padding: $basePadding/4 $basePadding/2;
  border-radius: $basePadding/4;
  font-size: 1.4rem;
  color: $fontCol;

  @include blockInteraction($mouseBg: $grey35);

  //button themes
  &.theme_close {
    padding: 0;
    width: calc(1em + #{$basePadding/4});
    height: calc(1em + #{$basePadding/4});
    background: #C33;
    color: #FFF;

    @include blockInteraction($mouseBg: #F33, $mouseCol: #FFF);
  }

  &.selected {
    background: $grey40;
  }
}


svg + svg {
  margin-left: -8px;
}
