@import '../../../css/shared';


.table {
    --table-padding: var(--base-padding4);
    --table-border: var(--border);

    --table-header-bg: var(--c-grey30);
    --table-body-bg: var(--c-grey10);
    --table-body-alt-bg: var(--c-grey20);

    --table-bg: var(--table-body-bg);

    --table-textAlign: center;

    display: grid;
    margin: 0;
    padding: 0;
}

.thead {
    display: contents;

    --table-bg: var(--table-header-bg);
}

.tbody {
    display: contents;
}

.tfoot {
    display: contents;
}

.tr {
    display: contents;

    &.even {
        --table-bg: var(--table-body-alt-bg);
    }
}

.th {
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding: var(--table-padding);
    font: var(--font-bodyStrong);
    background: var(--table-bg);
    justify-content: var(--table-textAlign);

    outline: var(--table-border);

    &[scope="row"] {
        align-items: center;
    }
}

.td {
    display: flex;
    align-items: center;
    margin: 0;
    padding: var(--table-padding);
    font: var(--font-bodyNormal);
    background: var(--table-bg);
    justify-content: var(--table-textAlign);

    outline: var(--table-border);
}

.caption {
    font: var(--font-bodyStrong);
    padding: var(--table-padding);
    grid-column: 1 / -1;
}

.columnSort{
    @include blankBtn;

    @include textInteraction($keyboardCol: var(--c-keyboard-alt));//TODO better colors for keyboard focus

    display: inline-flex;
    align-items: center;

    .icon {
        visibility: hidden;
        opacity: 0.5;
    }

    &.sortDir-asc,
    &.sortDir-desc {
        .icon {
            visibility: unset;
        }
    }

    @include onHoverOrFocus {
        .icon {
            visibility: visible;
            opacity: 1;
        }
    }
}

.icon {
    margin-left: var(--table-padding)
}

.faint {
    opacity: 0.25;;
}