@import '../../../css/shared';


.table {
    --table-padding: var(--base-padding4);
    --table-border: var(--border);

    --table-header-bg: var(--c-grey30);
    --table-body-bg: var(--c-grey10);
    --table-body-alt-bg: var(--c-grey20);

    --table-bg: var(--table-body-bg);

    --table-textAlign: center;

    display: grid;
    margin: 0;
    padding: 0;
    border-bottom: var(--table-border);
}

.thead {
    display: contents;

    --table-bg: var(--table-header-bg);
}

.tbody {
    display: contents;

    // & + .tbody > .tr:first-of-type >.td,
    // & + .tbody > .tr:first-of-type >.th {
    //     border-top: 5px solid red;
    // }

    // &:not(:first-of-type) > .tr:first-of-type > .td,
    // &:not(:first-of-type) > .tr:first-of-type > .th {
    //     border-top: 1px dashed lightgray;
    // }
}

.tfoot {
    display: contents;
}

.tr {
    display: contents;

    &.even {
        --table-bg: var(--table-body-alt-bg);
    }
}

%cellBorder {
    &:first-child {
        border-left: var(--table-border);
    }

    &:last-child {
        border-right: var(--table-border);
    }

    .table > :first-child > .tr:first-child > &,
    .table > .caption + .thead > .tr:first-child > &,
    .table > .caption + .tfoot > .tr:first-child > &,
    .table > .caption + .tbody > .tr:first-child > & {
        border-top: var(--table-border);
    }
}

.th {
    margin: 0;
    padding: var(--table-padding);
    font: var(--font-bodyStrong);
    background: var(--table-bg);
    text-align: var(--table-textAlign);

    //If I want to add sticky headers later
    // &[scope="col"] {
    //     position: sticky;
    //     top: 0;
    //     z-index: 2;
    // }

    // &[scope="row"] {
    //     position: sticky;
    //     left: 0;
    //     z-index: 1;
    // }

    @extend %cellBorder;
}

.td {
    margin: 0;
    padding: var(--table-padding);
    font: var(--font-bodyNormal);
    background: var(--table-bg);
    text-align: var(--table-textAlign);

    @extend %cellBorder;
}

.caption {
    font: var(--font-bodyStrong);
    padding: var(--table-padding);
    grid-column: 1 / -1;
}

.columnSort{
    @include blankBtn;

    @include textInteraction($keyboardCol: var(--c-keyboard-alt));//TODO better colors for keyboard focus

    display: inline-flex;
    align-items: center;

    .icon {
        visibility: hidden;
        opacity: 0.5;
    }

    &.sortDir-asc,
    &.sortDir-desc {
        .icon {
            visibility: unset;
        }
    }

    @include onHoverOrFocus {
        .icon {
            visibility: visible;
            opacity: 1;
        }
    }
}

.icon {
    margin-left: var(--table-padding)
}

.faint {
    opacity: 0.25;;
}